@model IEnumerable<ServiceCourse.Web.Models.LessonViewModel>


@{
    ViewBag.Title = "List";
}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="@Url.Action("Create", "Lesson", new { id = ViewBag.CourseId })" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i>
        Nova lição
    </a>
</div>

<div class="table-responsive">
    @if (ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
    else
    {
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Link da aula
                </th>
                <th>
                   Link da imagem
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LessonId)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Name)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LessonUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Lesson", new { id = item.LessonId })" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i>
                            Editar
                        </a>
                        <a href="@Url.Action("Details", "Lesson", new { id = item.LessonId })" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i>
                            Detalhes
                        </a>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm delete-link" data-lesson-id="@item.LessonId" data-delete-url="@Url.Action("Delete", "Lesson", new { id = item.LessonId })">
                            <i class="fas fa-download fa-sm text-white-50"></i>
                            Excluir
                        </a>
                        <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmação de Exclusão</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Tem certeza que deseja excluir este item?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger" id="confirmDeleteButton">Confirmar Exclusão</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            }

        </table>
    }

</div>



@Scripts.Render("~/lesson")