@model ServiceCourse.Web.Models.CourseViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nome
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Duração
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration) meses
        </dd>

        <dt>
            Preço
        </dt>

        <dd>
            R$@Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
           Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
